<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Header Main -->
    <%- include("partials/head.ejs") %>

    <!-- Fonts -->
    <%- include("partials/fonts.ejs") %>
</head>
<body>

<%- body %>

</body>
</html>