// Variables
@import "variables"

*
  font-family: "Urbanist", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  margin: 0
  padding: 0
  text-align: center

body
  background-color: $background
  color: $font-color

h1
  display: inline-block
  margin: 20px 20px 0 20px
  //text-align: center
  cursor: pointer
  user-select: none

// Map Styling
@import "interface"

// Scrollbar Styling
@import "scrollbar"